@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
* {
    box-sizing: border-box;
}

.main{
width: 900px;
margin: auto;
margin-top: 50px;
background-color: whitesmoke;
 font-family: "TikTok Sans", sans-serif;
}

.card_line{
display: flex;
justify-content: space-between;
margin: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    height: 330px;
    border-radius: 15px;
    background-color: cadetblue;
    padding: 10px;
}

.card  img{
 width: 200px;
 height: 150px;
 border-radius: 50%;
}

.card h3 {
    text-transform: uppercase;
    color: whitesmoke;
    margin-bottom: 0;
}

.card p {
    color: rgb(20, 20, 78);
    margin-top: 0;
}